<!DOCTYPE html>
<html ng-app="animalApp">

<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <title>AZTERKETA</title>
</head>

<body ng-controller="AnimalController">

    <div id="pagInicial">
        <header>
            <h1>IDENTIFICA LOS ANIMALES</h1>
            <div id="barraImagenes"> </div>
            <hr>
            <div id="barraCirculos"> </div>
            <button class="tipoSelect" id="verResultados"><a href="#test">VER RESULTADOS</a></button>
            <button class="tipoSelect" id="verElegirNivel"><a href="#test">REALIZAR TEST</a></button>
            <hr>
        </header>

        <div id="zonatest">
            <div id="niveles">
                <button class="tipoSelect" ng-click="startGame('facil')">PRINCIPIANTE</button>
                <button class="tipoSelect" ng-click="startGame('medio')">NIVEL MEDIO</button>
                <button class="tipoSelect" ng-click="startGame('dificil')">NIVEL AVANZADO</button>
            </div>
            <div id="content">
                <div ng-repeat="animal in animals" ng-show="gameStarted">
                    <img ng-src="{{ animal.imgAnimal }}" alt="Animal Image">
                    <div>
                        <button class="tipoSelect" ng-click="checkAnswer(animal.R1, animal.correcto)">{{ animal.R1
                            }}</button>
                        <button class="tipoSelect" ng-click="checkAnswer(animal.R2, animal.correcto)">{{ animal.R2
                            }}</button>
                        <button class="tipoSelect" ng-click="checkAnswer(animal.R3, animal.correcto)">{{ animal.R3
                            }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="zonaresultados">
            <button class="tipoSelect" ng-click="loadResults()">CARGAR RESULTADOS</button>
            <table>
                <tr id="listaAnimales">
                    <td class="ver" ng-repeat="result in results">{{ result }}</td>
                </tr>
            </table>
        </div>
    </div>

</body>

</html>